@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap'); 
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary-color: #0048ff;
  --secondary-color: #000000;
  --accent-color: #ffffff;
  --hover-glow: rgba(0, 72, 255, 0.7);
  --shadow: rgba(0, 0, 0, 0.15);
  --radius: 20px;
  --transition: all 0.3s ease;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: var(--secondary-color);
  color: var(--accent-color);
  overflow-x: hidden;
}